<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Project-2</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel='stylesheet' type='text/css' href='/css/styles.css' />
</head>

<body>
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/menu">
          Restro POS
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a id='menuLink' href='/menu' class="navbar-item">Menu</a>
          <a id='ordersLink' href='/orders' class="navbar-item">Orders</a>
        </div>

        <div class="navbar-end">
          <a id='logoutLink' href='/users/logout' class="navbar-item">Log-out</a>
        </div>
      </div>
    </nav>
  </header>
  <main class="section">
    <div class="container">
      <h1 class="title">Restro POS</h1>
      {{{body}}}
    </div>
  </main>
</body>

</html>
