<!-- views/login.handlebars -->
<section class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">Restro POS</h1>
      <br />
      <div class="box">
        <h2 class="subtitle is-4">User Login</h2>
        <form id="login-input">
          <div class="field">
            <label for="username" class="label">Username:</label>
            <div class="control">
              <input
                type="text"
                id="username-login"
                name="username"
                required
                class="input"
                placeholder="Username"
              />
            </div>
          </div>
          <div class="field">
            <label for="password" class="label">Password:</label>
            <div class="control">
              <input
                type="password"
                id="password-login"
                name="password"
                required
                aria-label="Enter your password"
                class="input"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button
                type="submit"
                class="button is-primary"
                id="submit-login"
              >
                Log In
              </button>
            </div>
          </div>
          <p id="error-login" class="has-text-danger"></p>
        </form>
        <nav class="mt-4">
          <p>Not a user? <a href='/users/signup'>Sign up here</a></p>
          <p>Forgot your password? <a href='/users/resetpassword'>Reset it here</a></p>
        </nav>
      </div>
    </div>
  </div>
</section>
<script src='/js/login.js'></script>
