<!-- views/new-item-form.handlebars -->
<section class='new-item-form section'>
  <h1 class='title'>Create New Item</h1>

  <form id='addItemForm' enctype='multipart/form-data'>

    <!-- Item Name -->
    <div class='field'>
      <label class='label' for='itemName'>Name:</label>
      <div class='control'>
        <input class='input' type='text' id='itemName' name='name' required />
      </div>
    </div>

    <!-- Dropdown for Item type -->
    <div class='field'>
      <label class='label' for='item-type'>Type: </label>
      <div class='control'>
        <div class='select'>
          <select id='item-type' name='itemType'>
            <option value='appetizer'>Appetizer</option>
            <option value='main'>Main</option>
            <option value='side'>Side</option>
            <option value='drink'>Drink</option>
            <option value='dessert'>Dessert</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Item Price -->
    <div class='field'>
      <label class='label' for='itemPrice'>Price:</label>
      <div class='control'>
        <input class='input' type='number' id='itemPrice' name='price' step='0.01' required />
      </div>
    </div>

    <!-- Allergy Information -->
    <div class='field'>
      <label class='label' for='allergyInfo'>Allergy Info:</label>
      <div class='control'>
        <input class='input' type='text' id='allergyInfo' name='allergy' />
      </div>
    </div>

    <!-- Image Source -->
    <div class='field'>
      <label class='label' for='img_s_r_c'>Add Image:</label>
      <div class='control'>
        <input
          class='input'
          type='file'
          name='img_s_r_c'
          id='fileSelector'
          accept='.jpg, .jpeg, .png'
        />
        <p id='errorType'></p>
      </div>
    </div>

    <div class='field'>
      <div class='control'>
        <button type='submit' id='add-item' class='button is-primary'>Add Item</button>
      </div>
    </div>
  </form>
  <script src='/js/newProduct.js'></script>
</section>
