<section class='new-item-form'>
  <h1>Create New Item</h1>

  <form id='addItemForm' enctype='multipart/form-data'>

    <!-- Item Name -->
    <div class='item-group'>
      <label for='itemName'>Name:</label>
      <input type='text' id='itemName' name='name' required />
    </div>

    <!-- Dropdown for Item type -->
    <div class='item-group'>
      <label for='item-type-{{id}}'>Type: </label>
      <select id='item-type' name='itemType'>
        <option value='appetizer'>Appetizer</option>
        <option value='main'>Main</option>
        <option value='side'>Side</option>
        <option value='drink'>Drink</option>
        <option value='dessert'>Dessert</option>
      </select>
    </div>

    <!-- Item Price -->
    <div class='item-group'>
      <label for='itemPrice'>Price:</label>
      <input type='number' id='itemPrice' name='price' step='0.01' required />
    </div>

    <!-- Allergy Information -->
    <div class='item-group'>
      <label for='allergyInfo'>Allergy Info:</label>
      <input type='text' id='allergyInfo' name='allergy' />
    </div>

    <!-- Image Source -->
    <div class='item-group'>
      <label for='img_s_r_c'> Add Image:</label>
      <input
        type='file'
        name='img_s_r_c'
        id='fileSelector'
        accept='.jpg, .jpeg, .png'
      />

      <p id='errorType'></p>
    </div>

    <button type='submit' id='add-item'>Add Item</button>
  </form>
  <script src='/js/newProduct.js'></script>
</section>