<section>
  <form id='resetPassForm'>
    <div>
      <label for='email'>Email:</label>
      <input type='email' id='email' name='email' disabled value='{{email}}' />
    </div>
    <div>
      <label for='password'>Password:</label>
      <input type='password' id='password-reset' name='password' required />
    </div>
    <div>
      <label for='confirmPassword'>Confirm Password:</label>
      <input
        type='password'
        id='confirmPassword-reset'
        name='confirmPassword'
        required
      />
    </div>
    <button type='submit' id='submit-reset'>Reset Password</button>
    <p id='error-reset'></p>
  </form>
</section>

<script src='/js/newPass.js'></script>