<section class='reset-password-container'>
  <h1>Reset Password</h1>
  <p>Enter your email address to receive a password reset link.</p>
  <form>
    <div class='form-group'>
      <label for='email'>Email:</label>
      <input
        type='email'
        id='email'
        name='email'
        required
        placeholder='Email'
      />
    </div>
    <button type='submit' class='btn-submit'>Send Reset Link</button>
  </form>
  <nav>
    <p>Remembered your password? <a href='/login'>Log in here</a></p>
  </nav>
  <script src='/public/js/resetPassword.js'></script>
</section>