<!-- views/ticket-container.handlebars -->
<section id="ticket" class="ticket-container section">
    <h1 class="title">All Tickets</h1>

    {{#each orders as |ticket|}}
      <div class="box">
        {{> ticket-details }}
      </div>
    {{/each}}
</section>
