<section id="ticket" class="ticket-container">
    <h1>All Tickets</h1>

    {{#each orders as |ticket|}}
      <div class="ticket-container">
        {{> ticket-details }}
      </div>
    {{/each}}
</section>

